{%load static%}
<html lang="en" >
<head>
  {% load static %} 
  <meta charset="UTF-8">
  <title>Fly Easily </title>
  <link href="#" rel="stylesheet"><link rel="stylesheet" href="{% static 'index.css' %}">
</head>

<div id="container_1">
  
  <h1 id="title">
    <a> Main Page<br></a><br><br>
</h1>
<p id="description">

</p>
  
</div>

<a href="airlines" type="submit" id="airlines">Airlines Table</a><br><br><br><br><br>
<a href="orders" type="submit" id="tickets">Buy a ticket</a>
<a href="orders" type="submit" id="orders" name="orders">Order On airplane</a><br><br><br><br><br>
<a href="show" type="submit" id="show">Last orders</a>
<a href="orders" type="submit" id="news">News</a><br><br><br><br><br>
<a href="files" type="submit" id="files" name="orders">Download Files</a>
<a href="orders" type="submit" id="about">About the Fly Easily</a><br><br><br><br><br>
<a href="home" type="submit" id="logout">Logout</a>
<a href="http://127.0.0.1:8000/login/Indexes/" type="submit" id="orders">Switch to passenger</a><br><br><br><br><br>

