{%load static%}
<html lang="en" >
<head>
{% load static %}
<meta charset="UTF-8">
<title>Fly Easily </title>
<link href="#" rel="stylesheet"><link rel="stylesheet" href="{% static 'index.css' %}">
</head>

<div id="container_1">

0 <h1 id="title">
<a> Main Page<br></a><br><br>
</h1>
<p id="description">

</p>

</div>

<a href="airlines" type="submit" id="airlines">Airlines Table</a><br><br><br><br><br>
<a href="orders" type="submit" id="orders" name="orders">Order at break</a><br><br><br><br><br>
<a href="show" type="submit" id="show">Last orders</a>
<a href="reports" type="submit" id="news">reports</a><br><br><br><br><br>
<a href="showre" type="submit" id="news">Manager reports</a><br><br><br><br><br>
<a href="schedule" type="submit" id="files" name="show">Schedule Work</a>
<a href="About" type="submit" id="about">About the Fly Easily</a><br><br><br><br><br>
<a href="index" type="submit" id="logout">Logout</a>
<a href="http://127.0.0.1:8000/login/Indexes/" type="submit" id="orders">Switch to Passengers</a><br><br><br><br><br>